# Virtual environments
venv/
.venv/
**/venv/
**/.venv/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.idea/
.vscode/
.DS_Store

# Generated output
output.mid
chord-harmony-generator/output.mid
